// Absolute Center
@mixin centering-hack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER MIXIN
/*
0-600px: Phone
600-900px: Tablet Portrait Mode
900-1200px: Tablet Landscape Mode
1200-1800px: Normal styles
1800px+: Large TVs ETC
*/

// ORDER: Base + typography > general layout + grid > page layout > components

// Breakpoint argument choices
// - phone
// - tab-port
// - tab-land
// - big-desktop

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 500px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 768px) {
      //768px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1068px) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: 1200px) {
      //1024px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 1200px) {
      //1800px
      @content;
    }
  }
}
