// Colors
$color-primary: #0e8044;
$color-primary-light: #b5e582;
$color-primary-dark: #015249;

$color-secondary-light: #fadb86;
$color-secondary-dark: #d8a519b4;

$color-tertiary-light: #77c9d4;
$color-tertiary-dark: #3e6d74;

$color-grey-dark: #a5a5af;
$color-grey-dark-2: #555;
$color-grey-very-dark: #333;
$color-grey-light-1: #f7f7f7;

$color-light: #fff;

// Contact Form
$error-color: #c41805;
$success-color: #1ef678;

// Font Sizes
$default-font-size: 1.6rem;

// Shadows
$box-shadow-1: rgba(0, 0, 0, 0.15);
$box-shadow-btn-hover: rgba(0, 0, 0, 0.2);
$box-shadow-btn-active: rgba(0, 0, 0, 0.1);
