.booking-form {
  &__group {
    &-btn button {
      @include respond(phone) {
        min-width: 100%;
      }
    }
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s ease;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgba(#fff, 0.8);
    border: none;
    font-family: inherit;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    color: inherit;
    transition: all 0.3s ease;

    @include respond(tab-port) {
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-very-dark;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid rgb(192, 14, 14);
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    cursor: pointer;
    font-size: $default-font-size;
    position: relative;
    padding-left: 4rem;
  }

  &__radio-btn {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: "";

      @include centering-hack;

      height: 1.3rem;
      width: 1.3rem;
      display: block;
      border-radius: 50%;
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-btn::after {
    opacity: 1;
    visibility: visible;
  }
}
