*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 60%; //1rem = 9px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 60%; //1rem = 8px - 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px = 75%
  }
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  padding: 3rem;
  // color: #fff;

  @include respond(tab-land) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: #fff;
}
