/* MAIN STYLING */
.header-company {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url("../img/company-bg.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  animation: headerAnim 2s;
  backface-visibility: hidden;
}

.company-section {
  background-color: #eafefc;
  height: 100%;
  padding: 0 5rem 10rem;
}

.company {
  width: 100%;
  height: 100%;
}

.company-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25rem;
  // border: 1px solid green;
  padding: 2rem;
  border-bottom: 2px solid rgba($color-primary, 0.3);

  &__img {
    width: 20%;
    // width: 30%;

    background-size: cover;
    background-position: center;
    height: 80%;
    // border: 1px solid red;
    // object-fit: cover;

    &--1 {
      background-image: url("../img/company-1.jpeg");
    }

    &--2 {
      background-image: url("../img/company-2.jpeg");
    }

    &--3 {
      background-image: url("../img/company-3.jpeg");
    }
    &--4 {
      background-image: url("../img/company-4.jpeg");
    }
    &--5 {
      background-image: url("../img/company-5.jpeg");
    }
  }

  &__content {
    width: 75%;
  }

  &__text {
    width: 100%;
    height: 100%;
    // padding-left: 3rem;
    // border: 1px solid;
  }
}
