.header-terms {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url("../img/company-6.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  animation: headerAnim 2s;
  backface-visibility: hidden;
}

.terms {
  background-color: #eee;
  padding: 5rem 0;
}

.terms-container {
  width: 100%;
  height: 100%;
}

.terms {
  &-paragraph {
    font-size: 2rem;
    padding: 0 2rem;

    @include respond(phone) {
      padding: 0 3rem;
    }
  }
  &__content {
    // margin: 5rem 0;
    padding: 5rem;
    width: auto;
    height: 100%;
    border-bottom: 2px solid rgba($color-primary, 0.3);
    border-top: 2px solid rgba($color-primary, 0.3);
  }

  &__text {
    width: 100%;
    height: auto;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
}
